{% extends 'base.html' %}

{% block title %}
Table Processing
{% endblock %}

{% block head %}
<style>
    .data {
        width: 100%;
        border-collapse: collapse;
    }
    .data th, .data td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
</style>
{% endblock %}


{% block body %}
<h1>Содержимое вашего CSV файла</h1>
{% for table in tables %}
{{ table|safe }}
{% endfor %}
<br>
<a href="/upload_table_page">Загрузить другой файл</a>
{% endblock %}




